<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
  <h1>Recipe Lists</h1>

  <div>
    {% for i ,j in recipes%}
          <a href="/recipe/{{i}}">{{j}}</a>
          <br>
    {% endfor %}
  </div>

  <a href="/login">login page</a>

  <div>
    {% for i in tags%}
          {{i}}
          <br>
    {% endfor %}
  </div>

  <h3>Add a new recipe</h3>

<form method="POST" action="/addRecipe">
  <p>Recipe Name: <input type="text" name="recipeName"> 
  <p>Description: <input type="text" name="description">
  <input type="submit" value="Add"></p>
</form>

  <h1>Favorite List</h1>
  <a href="/favorites">favorites list</a>

  <h1>General List</h1>
  <a href="/generalList">general list</a>

  <h3>Add a new list</h3>

  <form method="POST" action="/addList">
    <p>List Name: <input type="text" name="listName"> 
    <p>Favorite <input type="checkbox" name="favorite">
    <input type="submit" value="Add"></p>
  </form>

  <h1>Following/Follower List</h1>
  <a href="/followings">followings</a>

</body>


</html>
